.container {
    width:100%;
}
body {
    background-color: #ffffff;
    width:100%;
}
.bg-light {
    background-color: #d6d6d6;
}
Home-page
.container::after,
.container::before,
.row::after,
.row::before {
	content: " ";
	display: table;
}
.container::after,
.row::after {
	clear: both;
}
.row {
	display: block;
}
.section-text {
	background: #010101;
	color: #fafafa;
	overflow: hidden;
}
.section-text .picture {
	width: 48%;
	float: left;
}
.img-fluid {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.visible-xs {
	display: none!important;
}
@media (max-width: 767px) {
	.visible-xs {
		display: block!important;
	}
	.hidden-xs {
		display: none;
	}
}
.section-text .picture img {
	height: 491px;
}
@media (min-width: 992px) {
	.section-text .picture img {
		object-fit: cover;
	}
	.container {
		width: 970px;
	}
}
@media (max-width: 992px) {
	.section-text .picture {
		width: 100%;
		overflow: auto;
	}
	.section-text .picture img {
        height: auto;
	}
	.section-text .picture img {
		height: auto;
	}
	.section-text .text-wrapper p br {
		display: none;
	}
}
.section-text .text-wrapper {
	width: 50%;
	float: right;
	padding-top: 94px;
	padding-left: 78px;
}
@media (max-width: 1200px) and (min-width: 992px) {
	.section-text .text-wrapper {
		padding-left: 30px;
	}
}
@media (max-width: 992px) and (min-width: 768px) {
	.section-text .text-wrapper {
		width: 100%;
		float: none;
		clear: both;
		padding: 40px 20px;
	}
	.section-text .text-wrapper p {
		font-size: 16px;
		margin-bottom: 35px;
	}
}
@media (max-width: 768px) {
	.section-text .picture img {
		margin: 0 auto;
	}
	.section-text .text-wrapper {
		width: 100%;
		padding: 35px 30px 60px 30px;
		text-align: center;
	}
	.section-text .text-wrapper h2 {
		text-align: center;
		margin-bottom: 27px;
	}
	.section-text .text-wrapper p {
		font-size: 15px;
		text-align: left;
		line-height: 25px;
	}
}
.section-text .text-wrapper h2 {
	margin-bottom: 35px;
}
.section-text .text-wrapper p {
	font-size: 18px;
	margin-bottom: 50px;
}
.section-text .text-wrapper .btn-primary {
	font-size: 19px;
	background-color: #f2c548;
	border-color: #585f66;
	padding: 0.5rem 1rem;
    width: 195px;
}
@media (min-width: 1200px) {
	.container {
		width: 1180px;
	}
}
.text-white {
    color: #010101 !important;
}
.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}


.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
img {
    width: 100%;
}
.text {
    text-align: center;
    font-weight: bold;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
img {
    width: 100%;
}
.text {
    text-align: center;
    font-weight: bold;
}
master

.col5:img {
	border-radius: 50%;
  }


  
.footer {
    background-color: #010101;
    color: #d6d6d6;
}
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.YouTube:hover
{
  background-color:#ff0000
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#f2c548;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a Dark colour */
input[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 2%;
}
h3 {
    text-align: center;
}
.thanks {
    text-align: center;
}

.cfg {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.gsquared {
    height: 50%;
    width: 50%;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}


