.container {
    width:100%;
    vertical-align: middle;
    padding-top: 50px;
    padding-left: 0%;
    padding-right: 0%;
}
body {
    background-color: #d6d6d6;
    width:100%;
}
.bg-light {
    background-color: #d6d6d6;
}

